extends layout

block content
  div.container
    //h1 Welcome Home
      a.btn(href="/accounts/logout") Log Out
    h1 Blogs
      if !user
        p No User, show recent posts
      if blogs.length != 0
        ul
          //a.btn(href="/blog/input") Write More
          each blog, i in blogs
            li
              h2 #{blog.title}
              p #{blog.content}
              p Author: #{blog.uname}
              p Last Edit: #{blog.createTime}
      else
        p No Blogs yet
        a.btn(href="/blog/input") Write Blog