extends layout

block content
  div.container
    div.jumbotron
      h1 User List
          if userlist
            ul
              each user, i in userlist
                li
                  a(href="mailto:#{user.email}")=user.username